.DS_Store
Adaptation/debug*
Adaptation/datasets/
Adaptation/checkpoints/
Adaptation/results/
Adaptation/build/
Adaptation/dist/
*.png
*.pth
*.swp
*.pyc
Adaptation/torch.egg-info/
Adaptation/*/**/__pycache__
Adaptation/torch/version.py
Adaptation/torch/csrc/generic/TensorMethods.cpp
Adaptation/torch/lib/*.so*
Adaptation/torch/lib/*.dylib*
Adaptation/torch/lib/*.h
Adaptation/torch/lib/build
Adaptation/torch/lib/tmp_install
Adaptation/torch/lib/include
Adaptation/torch/lib/torch_shm_manager
Adaptation/torch/csrc/cudnn/cuDNN.cpp
Adaptation/torch/csrc/nn/THNN.cwrap
Adaptation/torch/csrc/nn/THNN.cpp
Adaptation/torch/csrc/nn/THCUNN.cwrap
Adaptation/torch/csrc/nn/THCUNN.cpp
Adaptation/torch/csrc/nn/THNN_generic.cwrap
Adaptation/torch/csrc/nn/THNN_generic.cpp
Adaptation/torch/csrc/nn/THNN_generic.h
Adaptation/docs/src/**/*
Adaptation/test/data/legacy_modules.t7
Adaptation/test/data/gpu_tensors.pt
Adaptation/test/htmlcov
Adaptation/test/.coverage
Adaptation/*/*.pyc
Adaptation/*/**/*.pyc
Adaptation/*/**/**/*.pyc
Adaptation/*/**/**/**/*.pyc
Adaptation/*/**/**/**/**/*.pyc
Adaptation/*/*.so*
Adaptation/*/**/*.so*
Adaptation/*/**/*.dylib*
Adaptation/test/data/legacy_serialized.pt
Adaptation/*~
Adaptation/.idea
Segmentation/version.py
Segmentation/build/
Segmentation/data/
Segmentation/docs/src/
Segmentation/docs/html/
Segmentation/encoding/_ext/
Segmentation/encoding.egg-info/
Segmentation/encoding/lib/cpu
Segmentation/experiments/segmentation/runs
Segmentation/experiments/segmentation/results/
Segmentation/.idea/
